<div style="margin: auto; width: 50%; border: 1px solid grey; padding: 10px;">
  <h1>Register to the system</h1>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
      <label for="name">
        Full Name­­­ 
      </label>
      <input id="name" type="text" formControlName="name" class="input-group-sm">
    </div>
    <!--
    <div class="form-group">
      <label for="tags">Hero Power </label>
      <select id="tags" required formControlName="name">
        <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
      </select>
    </div>
      -->
    <button class="btn btn-primary" (click)="addSkill()">Add skills </button>
    <br /><br />
    <!--<div *ngFor="let control of skills.controls; index as i">
      <input [formControl]="skills.controls[i]" />

      ---
      <select id="tags" required formControlName="name">
        <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
      </select>
      ---

    </div>-->
    <div *ngFor="let skill of skills.controls;">
      <ng-container [formGroup]="skill">
        <select id="tags" required formControlName="name" style="width:200px;">
          <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
        </select>
      </ng-container>
       <button (click)="removeSkill(i)">X</button>
    </div>
    <br />
    <button class="btn btn-dark box-shadow" type="submit">Add User</button>

  </form>
  <!--
  <p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

  <button class="btn btn-primary" (click)="incrementCounter()">Post data</button>
  -->
</div>
